h1, h2, h3, h4, h5 {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;/* 가로에서 가운데 정렬 */
    align-items: center;/* 세로에서 가운데 정렬 */
    flex-direction: column; 
} /* 중앙정렬 */

.clock h1 {
    font-size: 180px;
    font-weight: bold;
    margin: 0;
}

input {
    background: none;
    appearance: none;
    border: 0;
    font-size: 36px;
    color: white;
    border-bottom: 2px solid white;
    margin: 20px 0 20px 0;
    text-align: left;
}

input::placeholder {
    color: white;
    opacity: 0.8;
}




.greetings {
    font-size: 58px;
    font-weight: bold;
    opacity: 0.8;
}

.weather_text {
    position: absolute;
    top: 25px;
    right: 25px;
    font-style: italic;
}

.toDOList_text {
    font-size: 28px;
}

.del_button {
    background-color: transparent !important; /* 버튼 배경 색 투명 */
    border: none;
    font-size: 28px;
    margin-right: 6px;
}

ul {
   padding: 0;
   margin: 0;
   margin-top: 50px;
   list-style-type: none; /* li marker 비활성화 */
}

.li_list {
    margin-bottom: 10px;
}